{% extends "_layout" %}
{% set title = entry.title %}
{% set bodyClass = 'sec-news l-2col l-2col-right theme-gray' %}

{% block header %}
{% if entry.heroImage | length %}
<div class="l-header">
  {% set asset = entry.heroImage.first() %}
  <figure class="block-hero">
    <img class="b-figure" src="{{ asset.getUrl('heroImage') }}" />
    {% if entry.heroCaption %}
    <figcaption class="b-body patterned">
        {% if entry.heroCaptionTitle %}
        <h4 class="cap-title">{{ entry.heroCaptionTitle }}</h4>
        {% endif %}
        {{ entry.heroCaption }}
    </figcaption>
    {% endif %}
    {% if asset.photoCredit %}
    <p class="photo-credit">{{ "Image by" | translate }} {{ asset.photoCredit }}</p>
    {% endif %}
  </figure>
  <!--/.hero-->
</div>
<!--/.l-header-->
{% endif %}
{% endblock %}

{% block main %}
<div class="l-main">
  <article class="a-full">
    <header>
      {% if entry.type == 'news' %}
      {% include 'includes/_circle-date.html' with {'classes':'a-pubdate'} %}
      {% endif %}
      <h1 class="a-title">{{ entry.title }}</h1>
    </header>

    {% include 'includes/story-blocks/_story-blocks.html' %}

    {% if entry.type == 'event' %}
      {% if entry.rsvpUrl and entry.eventStart|date('Y-m-d') > now|date('Y-m-d') %}
      <div class="block-divider"></div>
      <p><a href="{{ entry.rsvpUrl }}" class="btn">{{ entry.rsvpButton|translate }}</a></p>
      {% endif %}
    {% endif %}

  </article>
</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside metadata">

  {% if entry.type == 'news' %}
  <div class="meta-authors">
    <div class="block-author">
    {% if entry.displayAuthor | length %}
      {% set postAuthor = entry.displayAuthor.first() %}
    {% else %}
      {% set postAuthor = entry.author %}
    {% endif %}
      <div class="b-figure">
        <img class="img-bordered img-round" alt="{{ postAuthor.fullName }}" src="{% if postAuthor.photoUrl %}{{ postAuthor.photoUrl }}{% else %}/public/images/turtle-avatar.jpg{% endif %}" />
      </div>
      <div class="b-body">
        <h4 class="name">{{ postAuthor.fullName }}</h4>
        {% if postAuthor.twitterHandle %}
        <p class="handle"><a href="http://www.twitter.com/{{ postAuthor.twitterHandle }}">{{ postAuthor.twitterHandle }}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if entry.type == 'event' %}
  <div class="meta-event">
    <dl class="flush">
      <dt>{{ "When" | translate }}:</dt>
      <dd>
        {# If there's an end entered #}
        {% if entry.eventEnd %}

          {# Event starts and ends on different days #}
          {% if entry.eventStart.day() != entry.eventEnd.day() %}

            {% if entry.allDay %}
              <em>{{ "From" | translate }}</em><br>{{ entry.eventStart|date('F j, Y'|t) }}<br><em>{{ "To" | translate }}</em><br>{{ entry.eventEnd|date('F j, Y'|t) }}
            {% else %}
              <em>{{ "From" | translate }}</em><br>{{ entry.eventStart|date('F j, Y'|t) }}<br>{{ entry.eventStart.localeTime() }}<br><em>{{ "To" | translate }}</em><br>{{ entry.eventEnd|date('F j, Y'|t) }}<br>{{ entry.eventEnd.localeTime() }}
            {% endif %}

          {% else %}
          {# Event starts and ends on same day #}

            {% if entry.allDay %}
              {{ entry.eventStart|date('F j, Y'|t) }}<br>{{ "All day" | translate }}
            {% else %}
              {{ entry.eventStart|date('F j, Y'|t) }}<br>{{ entry.eventStart.localeTime() }}–{{ entry.eventEnd.localeTime() }}
            {% endif %}

          {% endif %}

        {% else %}
        {# Only event start #}

            {% if entry.allDay %}
              {{ entry.eventStart|date('F j, Y'|t) }}<br>{{ "All day" | translate }}
            {% else %}
              {{ entry.eventStart|date('F j, Y'|t) }}<br>{{ entry.eventStart.localeTime() }}
            {% endif %}

        {% endif %}
      </dd>

      {% if entry.showLocation %}
      <dt>{{ "Where" | translate }}:</dt>
      <dd>
        {% if entry.locationName %}{{ entry.locationName}}<br>{% endif %}
        {% if entry.locationStreetAddress %}{{ entry.locationStreetAddress}}{% endif %}
        {% if entry.locationStreetAddress2 %}<br>{{ entry.locationStreetAddress2}}{% endif %}
        {% if entry.locationCity %}<br>{{ entry.locationCity}}{% endif %}{% if entry.locationState %}, {{ entry.locationState}}{% endif %}{% if entry.locationPostcode %} {{ entry.locationPostcode}}{% endif %}
        {% if entry.locationCountry %}<br>{{ entry.locationCountry}}{% endif %}
      </dd>
      {% set fullLocation = [entry.locationStreetAddress, entry.locationStreetAddress2, entry.locationCity, entry.locationState, entry.locationPostcode, entry.locationCountry]|join(', ') %}
      <dd><a href="http://maps.google.com/maps?q={{ fullLocation | url_encode }}">{{ "View map" | translate }}</a></dd>
      {% endif %}
    </dl>
  </div>
  {% endif %}

  {# Tags #}
  {% include 'includes/news-events/_entry-tag-list.html' %}

  {# Sharing options #}
  {% include 'includes/_sharing-options.html' %}

</div>
<!--/.l-aside-->
{% endblock %}

{% block footer %}
<div class="l-footer">

  {# Set parameters for prev/next elements list #}
  {% set params = craft.entries.section('newsAndEvents').order('postDate asc') %}

  {# Get the prev/next elements #}
  {% set prevEntry = entry.getPrev(params) %}
  {% set nextEntry = entry.getNext(params) %}

  {# Only output the buttons that actually exist #}
  {% if prevEntry or nextEntry %}
  <nav class="nav brick-nav brick-nav-full">
    <ul>
      {% if prevEntry %}<li class="brick-left"><a href="{{ prevEntry.url }}"><span class="arrow">&larr;</span> {{ "Prev"|translate }}</a></li>{% endif %}
      {% if nextEntry %}<li class="brick-right"><a href="{{ nextEntry.url }}">{{ "Next"|translate }} <span class="arrow">&rarr;</span></a></li>{% endif %}
    </ul>
  </nav>
  {% endif %}

  {# Set the tags for this entry #}
  {% set tags = entry.newsTags %}

  {% if tags|length %}

    {# grab the three most recent entries related to those tags #}
    {% set relatedEntries = craft.entries.section('newsAndEvents').relatedTo({
      targetElement: tags,
      sourceLocale: craft.locale
    }).order('postDate desc').id('not ' ~ entry.id).limit(3) %}

    {% if relatedEntries|length %}
      <section class="news">
        <header class="sechead">
          <h2 class="sechead-title">Related {{ "News & Events" | translate | lower}}</h2>
          <ul class="sechead-actions">
            <li><a href="url('news-events')">{{ "View all" | translate }}</a></li>
          </ul>
        </header>
        <div class="a-cards">
        {% for entry in relatedEntries %}
          <a href="{{ entry.url }}" class="a-card{% if entry.type == 'news' %} has-date{% endif %}">
            <article>
              <header>
                <h3 class="a-title">{{ entry.shortTitle}}</h3>
              </header>
              <div class="a-body">
                {{ entry.teaser }}
              </div>
              {% if entry.type == 'news' %}
              <footer>
                {% include 'includes/_circle-date.html' with {'classes':'a-pubdate'} %}
              </footer>
              {% endif %}
            </article>
          </a>
        {% endfor %}
        </div>
      </section>
      <!--/.related-articles-->
    {% endif %}

  {% endif %}

</div>
<!--/.l-footer-->
{% endblock %}