{% extends "_layout" %}
{% set title = "Tags"|translate %}
{% set bodyClass = 'sec-news l-1col theme-gray' %}

{% block header %}
<div class="l-header">
  <div class="page-header">
    <h1 class="page-header-title">{{ "News & Events"|translate }} {{ "Tags"|translate }}</h1>
  </div>
  <!--/.page-header-->
</div>
<!--/.l-header-->
{% endblock %}

{% block main %}
<div class="l-main">

{# grab the entries in the specific locale #}
{% set entries = craft.entries.find({section: 'newsAndEvents', locale: craft.locale}) %}

{# Grab the related tags for those entries in the current locale #}
{% set allTags = craft.tags.relatedTo({
  sourceElement: entries,
  sourceLocale: craft.locale
}).order('name').limit(null) %}

{% set allTagsGrouped = allTags|group('name | first') %}

<nav id="AlphaNavTop" class="nav brick-nav">
  <ul>
  {% for letter in allTagsGrouped|keys %}
    <li><a class="animate-scroll" href="#{{ letter }}">{{ letter }}</a></li>
  {% endfor %}
  </ul>
</nav>

{% for letter, tags in allTagsGrouped %}

  <header id="{{ letter | upper }}" class="sechead">
    <h2 class="sechead-title">{{ letter | upper }}</h2>
    <ul class="sechead-actions">
      <li><a class="animate-scroll" href="#AlphaNavTop">Top</a></li>
    </ul>
  </header>

  <ul class="tag-list cols-4max">
  {% for tag in tags %}
    <li><a class="tag" href="{{ url('news-events/tags')}}/{{ tag.name | url_encode }}">{{ tag.name }}</a></li>
  {% endfor %}
  </ul>

{% endfor %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
{% endblock %}

{% block footer %}
{% endblock %}