{% extends "_layout" %}
{% set title = "News & Events"|translate|raw  %}
{% set bodyClass = 'sec-news l-2col theme-gray' %}

{% block header %}
<div class="l-header">

  {# <h1 class="display">{{ "News & Events"|translate|raw }}</h1> #}
  <header class="landing-header patterned">
    <h1 class="display">{{ title }}</h1>
  </header>

  {% for entry in entry.featuredItem %}
  {% switch entry.type %}

    {% case "news" %}
    <a href="{{ entry.url }}" class="a-slat is-featured">
      <article>
        <header>
          <h4 class="eyebrow"><em>{{ "Featured News" | translate }}</em></h4>
          <h2 class="a-title">{{ entry.title }}</h2>
        </header>
        <div class="a-body">
          {{ entry.teaser }}
        </div>
        {% if entry.teaserImage | length %}
          {% set asset = entry.teaserImage.first() %}
          <figure class="a-image" style="background-image: url({{ asset.getUrl('newsFeatured') }});">
          </figure>
        {% endif %}
        <footer>
          {% include 'includes/_circle-date.html' with {'classes':'a-pubdate'} %}
        </footer>
      </article>
    </a>

    {% case "event" %}
    <a href="{{ entry.url }}" class="a-slat is-featured">
      <article>
        <header>
          <h4 class="eyebrow">{{ "Featured Event" | translate }}</h4>
          <h2 class="a-title">{{ entry.title }}</h2>
        </header>
        <div class="a-body">
          {{ entry.teaser }}
        </div>
        {% if entry.teaserImage | length %}
          {% set asset = entry.teaserImage.first() %}
          <figure class="a-image" style="background-image: url({{ asset.getUrl('newsFeatured') }});">
          </figure>
        {% endif %}
      </article>
    </a>

  {% endswitch %}
  {% endfor %}
</div>
<!--/.l-header-->
{% endblock %}

{% block main %}

<div class="l-main">
  <header class="sechead">
    <h2 class="sechead-title">{{ "Recent news & events" | translate }}</h2>
  </header>

  {% paginate craft.entries.section('newsAndEvents').limit(10) as entriesOnPage %}

    <div class="a-slats">
      {% for entry in entriesOnPage %}

        {% if entry.teaserImage|length %}
          {% set asset = entry.teaserImage.first() %}
        {% else %}
          {% set asset = "" %}
        {% endif %}

        <a href="{{ entry.url }}" class="a-slat">
          <article>
            <header>
              <h3 class="a-title">{% if entry.shortTitle %}{{ entry.shortTitle }}{% else %}{{ entry.title }}{% endif %}</h3>
            </header>
            <div class="a-body">
              {{ entry.teaser }}
            </div>
            {% if asset|length %}
              <figure class="a-image" style="background-image: url({{ asset.getUrl('newsTeaser') }});">
              </figure>
            {% endif %}
            {% if entry.type == 'news' %}
            <footer>
              {% if asset|length %}
                {% include 'includes/_circle-date.html' with {'classes':'a-pubdate a-pubdate-overlay'} %}
              {% else %}
                {% include 'includes/_circle-date.html' with {'classes':'a-pubdate'} %}
              {% endif %}
            </footer>
            {% endif %}
          </article>
        </a>
      {% endfor %}
    </div>

    {% if paginate.prevUrl or paginate.nextUrl %}
    <nav class="nav brick-nav brick-nav-full">
      <ul>
        {% if paginate.nextUrl %}<li class="brick-left"><a href="{{ paginate.nextUrl }}"><span class="arrow">&larr;</span> {{ "Prev"|translate }}</a></li>{% endif %}
        {% if paginate.prevUrl %}<li class="brick-right"><a href="{{ paginate.prevUrl }}">{{ "Next"|translate }} <span class="arrow">&rarr;</span></a></li>{% endif %}
      </ul>
    </nav>
    {% endif %}

  {% endpaginate %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/news-events/_recent-tags.html' %}
</div>
<!--/.l-aside-->
{% endblock %}

{% block footer %}{% endblock %}