<footer class="site-footer patterned">
  <div class="lc">
    <nav class="nav footer-nav">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Site Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a class="animate-scroll" href="#Header">Back to top</a></li>
        <li>&copy; 2014 The Leatherback Trust</li>
      </ul>
    </nav>
    <div class="language-select">
      <a class="is-active" href="#">English</a>
      <a href="#">Español</a>
    </div>
    <!--/.language-select-->
  </div>
  <!--/.lc-->
</footer>