{% if secEntries|length %}
<nav id="SectionNav" class="nav section-nav hide-more">
  <ul>
    <li class="inthissection"><span class="eyebrow"><em>{{ "In this section" | translate }}:</em></span></li>
    <li{% if entry.url == [siteUrl, secPath]|join %} class="current"{% endif %}><a href="{{ siteUrl }}{{ secPath }}">Overview</a></li>
    {% for secEntry in secEntries %}
    <li{% if secEntry.id == entry.id %} class="current"{% endif %}><a href="{{ secEntry.url }}">{{ secEntry.title }}</a></li>
    {% endfor %}
    <li id="LessNav"><a id="LessNavLink" href="#">&times; {{ "Less" | translate }}</a></li>
    <li id="MoreNav"><a id="MoreNavLink" href="#SectionNav">{{ "More" | translate }}&hellip;</a></li>
  </ul>
</nav>
{% endif %}