/* =======================================================
    Homepage
   ======================================================= */

.home {

  //
  // Breaking news
  //

  .breaking-news {
    margin-bottom: $space-half+$space-quarter;
  }

  //
  // The hero
  //

  .block-hero {
    margin-bottom: $space;
  }

  //
  // The mission
  //

  .mission {
    margin-bottom: $space-double;
    > h1 {
      @include zero;
    }
    @include breakpoint($bp-med) {
      margin-bottom: $space-triple;
    }
    @include breakpoint($bp-large-2) {
      @include pad(1,1);
    }
  }

  #MissionMore {
    margin-top: $space;
    > *:last-child {
      margin-bottom: 0;
    }

    @include breakpoint($bp-med) {
      @include column-count(2);
      @include column-gap(gutter(12));
    }
  }

  @include breakpoint($bp-large-2) {
    .image {
      padding-top: 50%;
    }
  }

  //
  // News
  //

  .news .sechead {
    //margin-bottom: 0;
  }

  .news-cards {
    //margin-top: -1px;
  }

}