/* =======================================================
    Page header
   ======================================================= */

/*
Markup:

<div class="page-intro">
  <p>Text here</p>
</div>
*/

.page-intro {
  margin-bottom: $space-double;

  > p {
    margin-bottom: $space;
    &:last-child {
      margin-bottom: 0;
    }
  }

}