/* =======================================================
    Sections
   ======================================================= */

.section {
	margin: 0 0 $space;
}

.section-title {
	margin-bottom: $space-half;
}

.sechead {
  @include clearfix;
  @include zero;
  margin-bottom: $space-half + $space-quarter;
}
.sechead-title {
  @include zero;
}
.sechead-actions {
  @include zero;
  list-style-type: none;
  > li {
    float: left;
  }
  a {
    display: block;
    padding: 0 .5em;
    @include transition(all .2s linear);
  }
}

// Without flexbox

.no-flexbox {
  .sechead {
    border-bottom: 1px solid $tlt-blue;
    padding-bottom: $space-half;
  }
  .sechead-title {
    float: left;
  }
  .sechead-actions {
    float: right;
    position: relative;
    top: .25em;
  }
}

// With flexbox

.flexbox {
  .sechead {
    @include flexbox;
    @include align-items(flex-end);
  }
  .sechead-title {
    @include flex(1);
    border-bottom: 1px solid $tlt-blue;
    padding-bottom: .66666rem;
    min-width: 50%;
  }
  .sechead-actions {
  }
  .sechead-actions a {
    border-bottom: 1px solid $tlt-dark-gray;
    padding-bottom: .66666rem;
    text-decoration: none;
    &:hover {
      border-color: $tlt-blue;
    }
  }
}

// Theming

.theme-gray {
  .sechead,
  .sechead-title,
  .sechead-actions a:hover {
    border-color: $tlt-gray;
  }
}
.theme-green {
  .sechead,
  .sechead-title,
  .sechead-actions a:hover {
    border-color: $tlt-green;
  }
}
.theme-yellow {
  .sechead,
  .sechead-title,
  .sechead-actions a:hover {
    border-color: $tlt-yellow;
  }
}