{% extends "_layout" %}
{% set title = entry.title %}
{% set bodyClass = 'sec-why l-1col l-1col-narrow' %}

{% block header %}
<div class="l-header">
  {% include 'includes/_section-nav.html' with {'secHandle':'whyLeatherbacks'} %}
</div>
<!--/.l-header-->
{% endblock %}

{% block main %}
<div class="l-main">

  {% if entry.heroImage | length %}
    {% set asset = entry.heroImage.first() %}
    <figure class="block-hero">
      <img class="b-figure" src="{{ asset.getUrl('heroImage') }}" />
      {% if entry.heroCaption %}
      <figcaption class="b-body patterned">
          {% if entry.heroCaptionTitle %}
          <h4 class="cap-title">{{ entry.heroCaptionTitle }}</h4>
          {% endif %}
          {{ entry.heroCaption }}
      </figcaption>
      {% endif %}
      {% if asset.photoCredit %}
      <p class="photo-credit">{{ "Image by" | translate }} {{ asset.photoCredit }}</p>
      {% endif %}
    </figure>
    <!--/.hero-->
  {% endif %}

  <h1>{{ title }}</h1>

  {% include 'includes/story-blocks/_story-blocks.html' %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside metadata">

  {# Sharing options #}
  {% include 'includes/_sharing-options.html' %}

</div>
<!--/.l-aside-->
{% endblock %}

{% block footer %}
<div class="l-footer">

  {# Related content #}
  {% include 'includes/_related-content.html' %}

</div>
<!--/.l-footer-->
{% endblock %}