{% extends "_layout" %}
{% set title = entry.title %}
{% set bodyClass = 'sec-threats l-1col l-1col-narrow theme-green' %}

{% block header %}
<div class="l-header">
  {% include 'includes/_section-nav.html' with {'secHandle':'threats'} %}
</div>
<!--/.l-header-->
{% endblock %}

{% block main %}
<div class="l-main">

  <h1 class="display">{{ title }}</h1>

  <figure class="threat-icon">
    {% set icon = entry.threatIcon.first() %}
    <img class="img-bordered img-round" src="{{ icon.getUrl('threatIcon') }}" />
  </figure>

  {% include 'includes/story-blocks/_story-blocks.html' %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside metadata">

  {# Sharing options #}
  {% include 'includes/_sharing-options.html' %}

</div>
<!--/.l-aside-->
{% endblock %}

{% block footer %}
<div class="l-footer">

  {# Related content #}
  {% include 'includes/_related-content.html' %}

</div>
<!--/.l-footer-->
{% endblock %}