{% extends "_layout" %}
{% set title = entry.title %}
{% set bodyClass = 'sec-threats l-1col l-1col-narrow theme-green' %}

{% set secEntries = craft.entries.section('threats').level(1) %}
{% set secPath = 'threats' %}

{% block header %}
<div class="l-header">
  {% include 'includes/_section-nav.html' %}
</div>
<!--/.l-header-->
{% endblock %}

{% block main %}
<div class="l-main">

  <h1 class="display">{{ title }}</h1>

  {% include 'includes/story-blocks/_story-blocks.html' %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside metadata">

  {# Sharing options #}
  {% include 'includes/_sharing-options.html' %}

</div>
<!--/.l-aside-->
{% endblock %}

{% block footer %}
<div class="l-footer">

  {# Set parameters for prev/next elements list #}
  {% set params = craft.entries.section('newsAndEvents').order('postDate asc') %}

  {# Get the prev/next elements #}
  {% set prevEntry = entry.getPrev(params) %}
  {% set nextEntry = entry.getNext(params) %}

  {# Only output the buttons that actually exist #}
  {% if prevEntry or nextEntry %}
  <nav class="nav brick-nav brick-nav-full">
    <ul>
      {% if prevEntry %}<li class="brick-left"><a href="{{ prevEntry.url }}"><span class="arrow">&larr;</span> Prev</a></li>{% endif %}
      {% if nextEntry %}<li class="brick-right"><a href="{{ nextEntry.url }}">Next <span class="arrow">&rarr;</span></a></li>{% endif %}
    </ul>
  </nav>
  {% endif %}

  <section class="news">
    <header class="sechead">
      <h2 class="sechead-title">See also</h2>
    </header>
    <div class="a-cards">
      <a href="news-article" class="a-card">
        <article>
          <header>
            <h3 class="a-title">News post headline here lorem ipsum dolor sit amet consecutat velum</h3>
          </header>
          <div class="a-body">
            <p class="lede">News lede here lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <footer>
            <time class="a-pubdate" datetime="2013-02-20"><span class="a-pubmonth">May</span> <span class="a-pubday">25</span></time>
          </footer>
        </article>
      </a>
      <a href="news-article" class="a-card">
        <article>
          <header>
            <h3 class="a-title">News post headline here</h3>
          </header>
          <div class="a-body">
            <p class="lede">News lede here lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <footer>
            <time class="a-pubdate" datetime="2013-02-20"><span class="a-pubmonth">May</span> <span class="a-pubday">9</span></time>
          </footer>
        </article>
      </a>
      <a href="news-article" class="a-card">
        <article>
          <header>
            <h3 class="a-title">News post headline here lorem ipsum dolor sit amet consecua ulum cresp veritamu</h3>
          </header>
          <div class="a-body">
            <p class="lede">News lede here lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <footer>
            <time class="a-pubdate" datetime="2013-02-20"><span class="a-pubmonth">Apr</span> <span class="a-pubday">28</span></time>
          </footer>
        </article>
      </a>
    </div>
  </section>
  <!--/.related-articles-->

</div>
<!--/.l-footer-->
{% endblock %}