{% extends "_layout" %}
{% set title = entry.title %}
{% set bodyClass = 'sec-threats l-1col l-1col-narrow theme-green' %}

{% set secEntries = craft.entries.section('threats').level(1) %}
{% set secPath = 'threats' %}

{% block header %}
<div class="l-header">
  {% include 'includes/_section-nav.html' %}
</div>
<!--/.l-header-->
{% endblock %}

{% block main %}
<div class="l-main">

  <h1 class="display">{{ title }}</h1>

  <figure class="threat-icon">
    {% set icon = entry.threatIcon.first() %}
    <img class="img-bordered" src="{{ icon.getUrl('threatIcon') }}" />
  </figure>

  {% include 'includes/story-blocks/_story-blocks.html' %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside metadata">

  {# Sharing options #}
  {% include 'includes/_sharing-options.html' %}

</div>
<!--/.l-aside-->
{% endblock %}

{% block footer %}
<div class="l-footer">

  {# Set parameters for prev/next elements list #}
  {% set params = craft.entries.section('newsAndEvents').order('postDate asc') %}

  {# Get the prev/next elements #}
  {% set prevEntry = entry.getPrev(params) %}
  {% set nextEntry = entry.getNext(params) %}

  {# Only output the buttons that actually exist #}
  {% if prevEntry or nextEntry %}
  <nav class="nav brick-nav brick-nav-full">
    <ul>
      {% if prevEntry %}<li class="brick-left"><a href="{{ prevEntry.url }}"><span class="arrow">&larr;</span> Prev</a></li>{% endif %}
      {% if nextEntry %}<li class="brick-right"><a href="{{ nextEntry.url }}">Next <span class="arrow">&rarr;</span></a></li>{% endif %}
    </ul>
  </nav>
  {% endif %}

  {# Related content #}
  {% include 'includes/_related-content.html' %}

</div>
<!--/.l-footer-->
{% endblock %}