/* =======================================================
    Media elements
   ======================================================= */

// Flexible media for rwd

img, video, object {
	max-width: 100%;
	height: auto;
}

// Bordered images

.img-bordered {
	border-radius: 100%;
	border: 1px solid $tlt-dark-gray;
}

iframe {
	margin-bottom: $space;
}

figure {
	margin: 0 0 $space;
	img {
		display: block;
	}
}

figcaption {
	@include zero;
	margin-top: $space-half;
	font-style: normal;
}