/* =======================================================
    Media elements
   ======================================================= */

// Flexible media for rwd

img, video, object {
	max-width: 100%;
	height: auto;
}

// Bordered images

.img-bordered {
	border: 2px solid $tlt-blue;

	// Theming
	.theme-green & {
		border-color: $tlt-green;
	}
	.theme-gray & {
		border-color: $tlt-gray;
	}
	.theme-yellow & {
		border-color: $tlt-yellow;
	}
}

// Round images

.img-round {
	display: block;
	border-radius: 100%;
	overflow: hidden;
}

// Bordered images

.img-chip {
	border-radius: 100%;
	box-shadow: 2px 2px 0 $tlt-blue;

	// Theming
	.theme-green & {
		box-shadow: 2px 2px 0 $tlt-green;
	}
	.theme-gray & {
		box-shadow: 2px 2px 0 $tlt-gray;
	}
	.theme-yellow & {
		box-shadow: 2px 2px 0 $tlt-yellow;
	}
}

iframe {
	margin-bottom: $space;
}

figure {
	margin: 0 0 $space;
	img {
		display: block;
	}
}

figcaption {
	@include zero;
	margin-top: $space-half;
	font-style: normal;
}