<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="{{ craft.locale }}"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="{{ craft.locale }}"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="{{ craft.locale }}"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="{{ craft.locale }}"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="{{ craft.locale }}"><!--<![endif]-->

<head>
<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="Copyright" content="Copyright {{ siteName }} {{ now.year }}. All Rights Reserved." />
<meta name="google-site-verification" content="" />

<!-- For all browsers -->
<link rel="stylesheet" href="/public/styles/style.min.css" />
<!-- Modernizr -->
<script src="/public/scripts/modernizr-dev.min.js"></script>
<!-- Typekit -->
<!-- This is a StartingNow project code, not a TLT one -->
<script type="text/javascript" src="//use.typekit.net/bcj0kit.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- Leaflet for mapping -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<!-- Application-specific meta tags -->
<!-- Windows 8 -->
<meta name="application-name" content="" />
<meta name="msapplication-TileColor" content="" />
<meta name="msapplication-TileImage" content="" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body{% if bodyClass is defined %} class="{{ bodyClass }}"{% endif %}>

{% include 'includes/_global-header.html' %}

<section id="Content">
  <div class="lc">
  {% block header %}{% endblock %}
  {% block main %}{% endblock %}
  {% block aside %}{% endblock %}
  {% block footer %}{% endblock %}
  </div>
  <!--/.lc-->
</section>

{% include 'includes/_global-footer.html' %}

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		 chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- Functions -->
<script src="/public/scripts/functions.min.js"></script>

<script>
var _gaq=[['_setAccount','{{ seo.googleAnalyticsId }}'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% block morescripts %}{% endblock %}
</body>

</html>