{% extends "_layout" %}
{# {% set title = 'Page title here' %} #}
{% set bodyClass = 'home l-1col' %}

{% block header %}{% endblock %}

{% block main %}
<div class="l-main">

  {% if entry.showAlert %}
  <section class="breaking-news">
    <div class="breaking-inner">
      {% if entry.alertHeadline %}
      <div class="headline">{{ entry.alertHeadline }}</div>
      {% endif %}
      {% if entry.alertBody %}
      <div class="body">{{ entry.alertBody }}</div>
      {% endif %}
      {% if entry.alertActionUrl %}
      <p class="call-to-action"><a href="{{ entry.alertActionUrl }}">{{ entry.alertActionText }}</a></p>
      {% endif %}
    </div>
    <!--/.breaking-inner-->
  </section>
  {% endif %}

  {% set asset = entry.heroImage.first() %}
  <figure class="block-hero">
    <img class="b-figure" src="{{ asset.getUrl('heroImage') }}" />
    {% if entry.heroCaption %}
    <figcaption class="b-body patterned">
        {% if entry.heroCaptionTitle %}
        <h4 class="cap-title">{{ entry.heroCaptionTitle }}</h4>
        {% endif %}
        {{ entry.heroCaption }}
    </figcaption>
    {% endif %}
    {% if asset.photoCredit %}
    <p class="photo-credit">{{ "Image by" | translate }} {{ asset.photoCredit }}</p>
    {% endif %}
  </figure>
  <!--/.hero-->

  <section class="mission">
      <h1>{{ entry.missionIntro | raw }}{% if entry.missionBody %} <a class="more-link" href="#MissionMore"><span class="showtext">More</span><span class="hidetext is-hidden">Less</span></a>{% endif %}</h1>
      {% if entry.missionBody %}
      <div id="MissionMore" class="more-content is-hidden">
        {{ entry.missionBody }}
      </div>
      {% endif %}
  </section>
  <!--/.mission-->

  <section class="news">
    <header class="sechead">
      <h2 class="sechead-title">{{ "News & Events" | translate | capitalize }}</h2>
      <ul class="sechead-actions">
        <li><a href="{{ url('news-events') }}">{{ "View all" | translate }}</a></li>
      </ul>
    </header>

    <div class="a-cards">
    {% set entriesRemaining = 3 %}

    {% if entry.stickyNewsItem|length %}

      {% set entry = entry.stickyNewsItem.first() %}

        {% if entry.teaserImage|length %}
          {% set asset = entry.teaserImage.first() %}
        {% else %}
          {% set asset = "" %}
        {% endif %}

        <a href="{{ entry.url }}" class="a-card{% if asset|length %} has-image{% endif %}{% if entry.type == 'news' %} has-date{% endif %}">
          <article>
            <header>
              <h3 class="a-title">{{ entry.shortTitle }}</h3>
            </header>
            <div class="a-body">
              {{ entry.teaser }}
            </div>
            {% if asset|length %}
              <figure class="a-image" style="background-image: url({{ asset.getUrl('newsTeaser') }});">
              </figure>
            {% endif %}
            {% if entry.type == 'news' %}
              <footer>
                {% if asset|length %}
                  {% include 'includes/_circle-date.html' with {'classes':'a-pubdate a-pubdate-overlay'} %}
                {% else %}
                  {% include 'includes/_circle-date.html' with {'classes':'a-pubdate'} %}
                {% endif %}
              </footer>
            {% endif %}
          </article>
        </a>

      {% set entriesRemaining = 2 %}

    {% endif %}

    {% set entries = craft.entries.section('newsAndEvents').limit(entriesRemaining) %}

    {% for entry in entries %}

      {% if entry.teaserImage|length %}
        {% set asset = entry.teaserImage.first() %}
      {% else %}
        {% set asset = "" %}
      {% endif %}

      <a href="{{ entry.url }}" class="a-card{% if asset|length %} has-image{% endif %}{% if entry.type == 'news' %} has-date{% endif %}">
        <article>
          <header>
            <h3 class="a-title">{{ entry.shortTitle }}</h3>
          </header>
          <div class="a-body">
            {{ entry.teaser }}
          </div>
          {% if asset|length %}
            <figure class="a-image" style="background-image: url({{ asset.getUrl('newsTeaser') }});">
            </figure>
          {% endif %}
          {% if entry.type == 'news' %}
            <footer>
              {% if asset|length %}
                {% include 'includes/_circle-date.html' with {'classes':'a-pubdate a-pubdate-overlay'} %}
              {% else %}
                {% include 'includes/_circle-date.html' with {'classes':'a-pubdate'} %}
              {% endif %}
            </footer>
          {% endif %}
        </article>
      </a>

    {% endfor %}

    </div>
  </section>
  <!--/.news-->

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}{% endblock %}
{% block footer %}{% endblock %}