{% extends "_layout" %}
{# {% set title = 'Page title here' %} #}
{% set bodyClass = 'home l-1col' %}

{% block header %}{% endblock %}

{% block main %}
<div class="l-main">

  {% if entry.showAlert %}
  <section class="breaking-news">
    <div class="breaking-inner">
      {% if entry.alertHeadline %}
      <div class="headline">{{ entry.alertHeadline }}</div>
      {% endif %}
      {% if entry.alertBody %}
      <div class="body">{{ entry.alertBody }}</div>
      {% endif %}
      {% if entry.alertActionUrl %}
      <p class="call-to-action"><a href="{{ entry.alertActionUrl }}">{{ entry.alertActionText }}</a></p>
      {% endif %}
    </div>
    <!--/.breaking-inner-->
  </section>
  {% endif %}

  {% set asset = entry.heroImage.first() %}
  <figure class="block-hero">
    <img class="b-figure" src="{{ asset.getUrl('heroImage') }}" />
    {% if entry.heroCaption %}
    <figcaption class="b-body patterned">
        {% if entry.heroCaptionTitle %}
        <h4 class="cap-title">{{ entry.heroCaptionTitle }}</h4>
        {% endif %}
        {{ entry.heroCaption }}
    </figcaption>
    {% endif %}
    {% if asset.photoCredit %}
    <p class="photo-credit">Image by {{ asset.photoCredit }}</p>
    {% endif %}
  </figure>
  <!--/.hero-->

  <section class="mission">
      <h1>{{ entry.missionIntro | raw }}{% if entry.missionBody %} <a class="more-link" href="#MissionMore"><span class="showtext">More</span><span class="hidetext is-hidden">Less</span></a>{% endif %}</h1>
      {% if entry.missionBody %}
      <div id="MissionMore" class="more-content is-hidden">
        {{ entry.missionBody }}
      </div>
      {% endif %}
  </section>
  <!--/.mission-->

  <section class="news">
    <header class="sechead">
      <h2 class="sechead-title">{{ "News & Events" | translate | capitalize }}</h2>
      <ul class="sechead-actions">
        <li><a href="#">{{ "View all" | translate }}</a></li>
      </ul>
    </header>
    <div class="a-cards">
      <a href="news-article" class="a-card has-image">
        <article>
          <header>
            <h3 class="a-title">News post headline here lorem ipsum dolor sit amet consecutat velum</h3>
          </header>
          <div class="a-body">
            <p class="lede">News lede here lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <figure class="a-image" style="background-image: url(/public/images/George-Frame-Grab-480x253.jpg);">
          </figure>
          <footer>
            <time class="a-pubdate a-pubdate-overlay" datetime="2013-02-20"><span class="a-pubmonth">May</span> <span class="a-pubday">25</span></time>
          </footer>
        </article>
      </a>
      <a href="news-article" class="a-card has-image">
        <article>
          <header>
            <h3 class="a-title">News post headline here</h3>
          </header>
          <div class="a-body">
            <p class="lede">News lede here lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <figure class="a-image" style="background-image: url(/public/images/leatherback-nesting-600.jpg);">
          </figure>
          <footer>
            <time class="a-pubdate a-pubdate-overlay" datetime="2013-02-20"><span class="a-pubmonth">May</span> <span class="a-pubday">9</span></time>
          </footer>
        </article>
      </a>
      <a href="news-article" class="a-card">
        <article>
          <header>
            <h3 class="a-title">News post headline here lorem ipsum dolor sit amet consecua ulum cresp veritamu</h3>
          </header>
          <div class="a-body">
            <p class="lede">News lede here lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <footer>
            <time class="a-pubdate" datetime="2013-02-20"><span class="a-pubmonth">Apr</span> <span class="a-pubday">28</span></time>
          </footer>
        </article>
      </a>
    </div>
  </section>
  <!--/.news-->

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}{% endblock %}
{% block footer %}{% endblock %}